.quizgame_container{
  background-image: linear-gradient( to left, #D9A7C7,#FFFCDC);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;

}